<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Register</title>
</head>
<body>

    <div class="container">  <!-- Wrapper for form -->
        <h2 class="word">Register</h2>

        <form action="/register" method="post">
            <div>{{ msg }}</div>

            <input class="textbox" type="text" name="userUsername" placeholder="Enter Username" required>
            <input class="textbox" type="password" name="userPassword" placeholder="Enter Password" required>
            <input class="textbox" type="email" name="userEmail" placeholder="Enter Email" required>

            <button class="btn" type="submit">Register</button>
        </form>

        <p class="bottom">Already have an account? <a href="/login">Login here</a></p>
    </div>

</body>
</html>
